VITE_SUPABASE_URL=https://dypxnlgeyjcyklccszqa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5cHhubGdleWpjeWtsY2NzenFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDExODk4MjYsImV4cCI6MjA1Njc2NTgyNn0.q_S3OAdN_04ChF2TM2fAllRyCH652UnPaU_ByWDKFm0